<!DOCTYPE html>
<html lang="en" class="ie9">
<head>
    <meta charset="UTF-8">
    <title>云博——YunMuseum</title>
    <meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/style-index2.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="icon" href="/static/images/favicon.ico">
</head>
<body class="no-trans">
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-left clearfix">
                        <div class="logo smooth-scroll">
                            <a href="#banner"><img id="logo" src="/static/images/logo_part.png" alt="YunMuseum"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="header-right clearfix">
                        <div class="main-navigation animated">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="active"><a href="#banner">关于</a></li>
                                            <li><a href="#contact">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-visible" data-animation-effect="fadeIn">
                        <h1 class="text-center">3D云博 <span>博览天下</span></h1>
                        <p class="lead text-center">这是一个线上博物馆，部分艺术品更有3D展示！</p>
                    </div>
                    <br/>
                    <div class="col-md-12" style="margin:0 auto; text-align: center" >
                        <a href="/HomeArt" class="btn btn-default " >GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footer section">
            <div class="container">
                <h1 class="title text-center" id="contact">联系我们</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <p class="large">您有任何问题和意见，都可通过以下方式联系我们。</p>
                            <ul class="list-icons">
                                <li><i class="fa fa-map-marker pr-10"></i>上海大学</li>
                                <li><i class="fa fa-phone pr-10"></i>13262983227</li>
                                <li><i class="fa fa-phone pr-10"></i>18702106561</li>
                                <li><i class="fa fa-envelope-o pr-10"></i>guoces@shu.edu.cn</li>
                            </ul>
                            <ul class="social-links">
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="http://dev.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                                <li class="flickr"><a target="_blank" href="http://blog.flickr.net"><i class="fa fa-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <form role="form" id="footer-form">
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="name2">姓名</label>
                                    <input type="text" class="form-control" id="name2" placeholder="Name" name="name2" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="email2">电子邮件</label>
                                    <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="message2">意见</label>
                                    <textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <input type="submit" value="Send" class="btn btn-default">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright &copy; 2017.GZX&LBY All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
</body>
</html>