<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>艺术故事</title>
    <link href="/static/css/StoryDetails.css" rel="stylesheet">
    <link href="/static/css/maxcdnfont-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/Home.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/Style.css">
    <script src="/static/js/modernizr.custom.js"></script>
    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/csdnjquery.min.js"></script>
    <script src="/static/js/csdnbootstrap.min.js"></script>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/assets/css/ie10-viewport-bug-workaround.css">
    <script src="/static/js/docs.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/maxcdnhtml5shiv.min.js"></script>
    <script src="/static/js/maxcdnrespond.min.js"></script>
    <link rel="icon" href="/static/images/favicon.ico">
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/HomeArt">YunMuseum</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="center-block">
                    <ul class="nav navbar-nav" >
                        <li><a href="/HomeArt">艺术品</a></li>
                        <li><a href="/HomeStory">艺术故事</a></li>
                        <li><a href="/HomeCol">艺术专栏</a></li>
                    </ul>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="btn-group">
                        <button class="btn btn-default" 	data-toggle="dropdown">
                            个人设置（有
                            #if($Count)
                            ${Count}
                            #end
                            条未读消息）<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Setup">账户信息</a></li>
                            <li><a href="/RealNameSetup">实名验证</a></li>
                            <li><a href="/SafetySetup">安全</a></li>
                            <li><a href="/Upload">模型管理</a></li>
                            <li><a href="/Message">消息（
                                #if($Count)
                                ${Count}
                                #end
                                ）</a>
                            </li>
                            <li><a href="/InterestAll">全部兴趣圈</a></li>
                            <li><a href="/Interest">我的兴趣圈</a></li>
                            <li><a href="/HomeArt" onclick="signout()">登出</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
   </nav>
   <div class="container">
        <div class="jumbotron">
            <div style="float: left;margin-left: 5px;margin-top: -10px">
                #foreach($vo in $ArtStory)
                <p>$!{vo.stitle}</p>
                #end
            </div>
            #foreach($vo in $ArtStoFollow)
            <form style="display: inline">
                <input style="display: none" name="followclass" value="${vo.classname}">
                <a title="关注这个用户"><span class="${vo.classname}" aria-hidden="true" id="titlefirst" onclick="follow()"></span></a>
            </form>
            #end
            #foreach($vo in $ArtStoPraise)
            <form style="display: inline">
                <input style="display: none" name="praiseclass" value="${vo.classname}">
                <a title="点赞这个艺术故事"><span class="${vo.classname}" aria-hidden="true" id="titleone" onclick="like()"></span></a>
            </form>
            #end
            <a title="放大图片"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true" id="titletwo" onclick="large()"></span></a>
            <div class="jiathis_style" style="margin-left: 1%;float: left;margin-top: -3px">
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
            </div>
        </div>
   </div>
   <div id="myCarousel" class="carousel slide" style="width: 60%;margin-left: 20%;margin-top: -1%">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            #foreach($vo in $ArtStoryFirstPage)
            <div class="item active">
                <img src="${vo.image}" style="width: 50%;float: left">
                <div style="font-family: 华文隶书;font-size: 25px;width:50%;float: left">
                    &nbsp;&nbsp;$!{vo.text}
                </div>
            </div>
            #end
            #foreach($vo in $ArtStoryPage)
            <div class="item">
                <img src="${vo.image}" style="width: 50%;float: left">
                <div style="font-family: 华文隶书;font-size: 25px;width: 50%;float: left">
                    &nbsp;&nbsp;$!{vo.text}
                </div>
            </div>
            #end
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
   </div>
   <div class="well" style="width: 90%;margin-left: 5%">
        #foreach($vo in $ArtStory)
        <p style="font-size: 20px;font-family: 华文行楷">&nbsp;&nbsp;$!{vo.sabstract}</p>
        <p style="font-size: 20px;font-family: 华文仿宋">$!{vo.syears}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          $!{vo.stype}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          $!{vo.splace}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        #end
   </div>
   <div id="flip">
        <p style="font-size: 20px;font-family: 华文隶书;margin-top: 13px;float: left">评论</p>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="down"></span>
   </div>
   <div id="panel">
        <div id="comment">
            <dl id="list">
                #foreach($vo in $ArtStoryComment)
                <dt class="dt1">$!{vo.name}：${vo.text}</dt>
                #end
            </dl>
        </div>
        <form method="post" name="CommentForm">
            <div id="send">
                <input id="word" name="word">
                <span class="glyphicon glyphicon-send"  aria-hidden="true" style="margin-left: 3%;margin-top: 12px;cursor: pointer;font-size: 20px" onclick="send()"></span>
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="margin-left: 3%;margin-top: 12px;cursor: pointer;font-size: 20px" onclick="share()"></span>
                <span class="glyphicon glyphicon-menu-up" aria-hidden="true" id="up"></span>
            </div>
        </form>
   </div>
   <script src="/static/js/googleapisjquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/staticassets/js/vendor/jquery.min.js"><\/script>')</script>
   <script src=""></script>
   <script src="/static/docs/assets/js/vendor/holder.min.js"></script>
   <script src="/static/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
<script type="text/javascript">
    function follow()
    {
        var x=document.getElementById("titlefirst");
        var classname=x.getAttribute("class");
        $.ajax({
            type: "POST",
            url: "/ArtStoryFollow",
            data:{"followclass":classname}
        });
        if(x.getAttribute("class")=="glyphicon glyphicon-plus-sign")
        {
            x.setAttribute("class","glyphicon glyphicon-minus-sign");
        }
        else {
            x.setAttribute("class","glyphicon glyphicon-plus-sign");
        }
    }
    function like()
    {
        var x=document.getElementById("titleone");
        var classname=x.getAttribute("class");
        $.ajax({
            type: "POST",
            url: "/ArtStoryPraise",
            data:{"praiseclass":classname}
        });
        if(x.getAttribute("class")=="glyphicon glyphicon-heart-empty")
        {
            x.setAttribute("class","glyphicon glyphicon-heart");
        }
        else {
            x.setAttribute("class","glyphicon glyphicon-heart-empty");
        }
    }
    function large()
    {
        window.open("/ArtStoryLarge");
    }
    function at()
    {
        document.getElementById("word").value="@";
    }
    function send()
    {
        document.CommentForm.action="/ArtStoryCom";
        document.CommentForm.submit();
    }
    function share()
    {
        document.CommentForm.action="/ArtStoryShare";
        document.CommentForm.submit();
    }
    $(document).ready(function()
    {
        $("#flip").click(function()
        {
            $("#panel").slideDown("slow");
        });
    });
    $(document).ready(function()
    {
        $("#up").click(function()
        {
            $("#panel").slideUp("slow");
        });
    });
    $(document).ready(function(){
        $("#list dt:even").addClass("dt2");
    });
    function signout(){
        document.cookie="username="+"";
    }
</script>
</html>
